<main>
  {{#with book}}
    <div class="book">
      <h2 class="title">Título: {{title}}</h2>
      <p>Quantidade de páginas: {{pagesqty}}</p>
    </div>
    <div class="actions">
      <a href="/book/{{idbooks}}">Editar</a>
    </div>
  {{/with}}
</main>