<h2>Books</h2>
<div class="books-container">

  {{#each books}}
    <div class="book-item">
      <h3 class="title">
        Título:
        {{this.title}}
      </h3>
      <p class="pagesqty">
        Número de páginas:
        <span>{{this.pagesqty}}</span>
      </p>
    </div>
  {{/each}}
</div>