<h2>Books</h2>
<div class="books-container">

  {{#each books}}
    <div class="book-item">
      <div class="content">
        <h3 class="title">
          Título:
          {{this.title}}
        </h3>
        <p class="pagesqty">
          Número de páginas:
          <span>{{this.pagesqty}}</span>
        </p>
      </div>
      <div class="actions">
        <button class="see-more">
          <a href="/book/{{this.idbooks}}">Ver mais</a>
        </button>
        <button class="delete">
          <form action="/book/{{this.idbooks}}" method="POST">
            <input type="submit" value="EXCLUIR" />
          </form>
        </button>
      </div>
    </div>
  {{/each}}
</div>