<h2>Cadastrar</h2>

<form action="/register/save" method="post">
  <div>
    <label for="title" id="title">Título:</label>
    <input type="text" name="title" id="title" placeholder="digite o titulo" />
  </div>
  <div>
    <label for="pagesqty" id="pageqty">Número de Páginas</label>
    <input
      type="number"
      name="pagesqty"
      id="pagesqty"
      placeholder="Quantas páginas o livro possui?"
    />
  </div>
  <button type="submit">Cadastrar</button>
</form>